# ==== General ====
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/

# ==== Flutter (flutter/) ====
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
flutter/build/

# Flutter/Dart
flutter/.env*
flutter/android/app/debug
flutter/android/app/profile
flutter/android/app/release
flutter/android/nutmeg-9099c-c70a0f6cba3d.json
flutter/android/nutmeg-9099c-sa-credentials.json
flutter/ios/AuthKey_CTJDHGWL48.p8
flutter/ios/fastlane/report.xml
flutter/ios/fastlane/.env.local
flutter/ios/fastlane/build/ios/Pods.build/*
flutter/.firebase/
flutter/.fvm/
flutter/lib/utils/ApiKey.dart
flutter/translator_key
flutter/nutmeg-deploy-key.json
flutter/gc_keys.json
flutter/android/app/.cxx/*
flutter/web/firebase-messaging-sw.js

# ==== Backend (backend/) ====
backend/.firebase/
backend/.env
backend/firebase-admin-sdk-sa-key.json

# ==== Node ====
node_modules/
.npm
*.tgz

# ==== Python ====
venv/
__pycache__/
*.egg-info/
