<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956073807168-4gia0lo6ggju7f1kiin9j2ibn3q5b9qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956073807168-4gia0lo6ggju7f1kiin9j2ibn3q5b9qd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956073807168-0k19bq5mee448tc61qvfk6e1e9psjke4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfYYeH1-57PAeasukpaajWq3cR0sGO9qY</string>
	<key>GCM_SENDER_ID</key>
	<string>956073807168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutmeg.app</string>
	<key>PROJECT_ID</key>
	<string>nutmeg-9099c</string>
	<key>STORAGE_BUCKET</key>
	<string>application-data-us</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956073807168:ios:25818a16a5ea2cd2a6fea5</string>
	<key>DATABASE_URL</key>
	<string>https://nutmeg-9099c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>